.community_title {
  flex-grow: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.submain_header {
    display: flex;
    justify-content: center;
    margin-top : 3rem; 
    /* margin-left: 6.875rem; */
}
.submain_menubox{
        width: 25.688rem;
        height: 25.063rem;
        /* flex-grow: 0; */
        margin: 3.188rem 1.75rem 0 0.625rem;
        padding: 5.063rem 5.75rem 3rem;
        border-radius: 21px;
        box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        display: flex;
    flex-direction: column;
    padding: 0px 4rem 0px;
    margin-bottom: 1.375rem;
      
}
.community_block {
    height: 100%;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;

}

.community_header {
    display: flex;
    justify-content: flex-end;
    margin-top : 40; 
}

.community_search_box {
    border-radius: 41px;
    border: solid 2px #c4c4c4;
    width: 17.938rem;
    height: 3rem;
    margin-left: 16.2rem;
    margin-right: 5.3rem;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-family: Inter;
    color: #9b9b9b;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.community_search {
    border: 0px none ;    
    border-radius: 41px;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #9b9b9b;
    padding-left: 15px;
}

.community_search_icon_box {
    padding: 7px;
    margin-right: 5px;
}

.community_search_icon {
    height: 100%;
    width: 100%
}

.community_filter_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 5.3rem 0px;
    margin: 15px 0px 10px;
    color: #6c6c6c;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

.menubox_title {
    /* width: 5.688rem; */
    /* height: 3.375rem; */
    /* flex-grow: 0; */
    margin: 60 0 15 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1rem;
    text-align: center;
    color: #000;
  }

.menubox_content{

  /* width: 14.188rem; */
  height: 2.125rem; 
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1rem;
  text-align: center;
  color: #747272;
}

.menubox_icon{

    height:4.5rem;
    width: 4.5rem;
    margin: auto;

}

.menu_boxes{
    display: flex;
    flex-direction: row;
    padding: 0px 4rem 0px;
    margin-bottom: 1.375rem;
}

.community_content {
    display: flex;
    flex-direction: row;
    padding: 0px 4rem 0px;
    margin-bottom: 1.375rem;
}

.community_item_box {
    margin: 0px 1rem 0px;
    width: 25.688rem;
    height: 10.688rem;
    border-radius: 21px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 1.7rem;
}

.community_item_title {
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 1.5rem;
}

.community_item_content {
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #747272;
    margin-top: 1.2rem;
}

.community_item_below {
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem; 
    margin-right: 0.5rem;
}

.community_item_below_fill {
    flex-grow: 1;
}

.community_item_date {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #868686;
}

.community_item_below_count {
    font-family: Inter;
    font-size: 0.938rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #254682;
    padding-top: 0.3rem;
    padding-right: 0.8rem;
    padding-left: 0.2rem;
}

#bigver{
    width: 0.25rem;
	height: 3rem;
	/* position:absolute; */
	flex-grow: 0;
	margin: 1.2rem 2.5rem 0.125rem 2.5rem;
	/* transform: rotate(180deg); */
	background-color: #000;
}
.course_name{
    flex-grow: 0;
  font-family: "Noto Sans KR";
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0.8rem;
  text-align: center;
  color: #000000;
  vertical-align: sub;
}
.course_block{

    height: 100%;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
}

.course_header{

        display: flex;
        justify-content: center;
        margin-top : 40; 

}
.title_and_date{
    width : 100%;
    display: flex;
    flex-direction: row;
}

.uni_review_top{
    width : 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.813rem ;
}

.course_content{
    width: 69.438rem;
    /* height: 68.875rem; */
    display: flex;
    margin : auto;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    /* padding: 4rem; */
    align-content: center;
    margin-bottom: 1.375rem;
    flex-direction: row;
        
}

.content_box_large {
    width: 73.875rem;
    height: auto;
    margin: auto;
    margin-top:1.438rem ;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 21px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }
 
  .course_item_box{
    
        width: 33.438rem;
        /* height: 13.563rem; */
        margin: 0.6rem;
        padding: 1.75rem 1.438rem;
        border-radius: 21px;
        box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        display:flex;
        flex-direction: column;
        overflow: auto;
  }
  #star10{
    width: 1.078rem;
    height: 1.069rem;
    float:left;
    }


  .course_item_title{

        width: 12.25rem;
        height: 1.438rem;
        flex-grow: 0;
        margin: 1.244rem 9.75rem 1.25rem 0;
        font-family: Inter;
        font-size: 1.75rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.56px;
        text-align: left;
        color: #000;
  }

  .course_item_date{

        width: 8.375rem;
        height: 1.375rem;
        flex-grow: 0;
        margin: auto;
        font-family: "Noto Sans KR";
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.72px;
        white-space: nowrap;
        text-align: right;
        color: #868686;
      }

      .review_item_date{

        width: 8.375rem;
        height: 1.375rem;
        flex-grow: 0;
        margin-right :0;
        margin: auto 0 auto auto;
        font-family: "Noto Sans KR";
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.72px;
        white-space: nowrap;
        text-align: right;
        color: #868686;
      }

      .review_content{
        width: 69.438rem;
        /* height: 68.875rem; */
        display: flex;
        margin : auto;
        /* flex-flow: column wrap;
        justify-content: space-around;
        align-content: space-around; */
        /* padding: 4rem; */
        align-content: center;
        margin-bottom: 1.375rem;
        /* flex-direction: row; */
            
    }
    .review_column{
        display:flex;
  flex-direction:column;
  width : 50%;
    }
      .course_item_content{
        flex-grow: 2;
        /* width: 30.5rem;
        height: 5.063rem; */
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.375rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.44px;
        text-align: left;
        color: #000;
      }
      .review_item_box{
    
        width: 33.438rem;
        height: auto;
        margin: 0.6rem;
        padding: 1.75rem 1.438rem;
        border-radius: 21px;
        box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        display:block;
  box-sizing: border-box;
        overflow: auto;
  }
  .review_photo{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
        /* height: 9.188rem; */
        margin: 0.5rem 0.25rem 0.813rem 0;
        /* background-size: contains;   */
  }
.aaa{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin : 0.1rem;
}
  .review_photos{
    width: 100%;
    display : flex;
    flex-direction: row;
    
    height: auto;

  }
      .course_item_rank{

      }

.preparation_header {
    display: flex;
    justify-content: center;
}    
.preparation_title_box {
    flex-grow: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.preparation_title {
    flex-grow: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.25rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000;
    width: 30rem;
}

.preparation_filter_box {
    padding-top: 1.3rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #6c6c6c;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

.preparation_content {
    display: flex;
    justify-content: center;
    padding: 1rem 4rem 0rem;
}

.preparation_item_box {
    flex-grow: 1;
    margin: 0px 1rem 0px;
    height: auto;
    border-radius: 21px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 1.7rem;
}

.preparation_item_left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preparation_item_right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.preparation_flag_container {
    width: 55%;
}

.preparation_item_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 1.5rem;
}

.preparation_item_subtitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.55rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    margin-bottom: 0.1rem;
}

.preparation_up {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.preparation_up_left {
    display: flex;
    flex-direction: row;
    width: 20rem;
    align-items: flex-end;
}

.preparation_up_right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.preparation_down {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    padding-left: 0.7rem;
    flex-grow: 1;
}

.preparation_list {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.55rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 0.3rem;
}

.preparation_footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #747272;
    margin-top: 1.2rem;
}

.dorm_item_box {
    flex-grow: 1;
    margin: 0px 1rem 0px;
    height: auto;
    border-radius: 21px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 1.7rem;
}

.dorm_content {
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem 0;
}

.dorm_store {
    display: flex;
    flex-direction: column;
}

.dorm_detail_list {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.55rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 0.3rem;
}

.dorm_detail_parahraph {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.55rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    text-align: center;
}

.dorm_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dorm_item_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
}

.etcpre_container {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

.etcpre_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem 0 7rem;
}

.etcpre_title {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.etcpre_box {
    width: 100%;
    height: auto;
    padding: 8px 10px;
    border-radius: 17px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: #b8d8be;
    margin-top: 1.2rem;
}

.etcpre_box_innter {
    width: 100%;
    height: 100%;
    margin: 0 5px 5px 0;
    border-radius: 13px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
}

.etcpre_box_item {
    flex-grow: 1;
    width: 604px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: #000000;
    margin: 1rem 1rem 0.2rem 1rem;
}

.etcpre_box_footer {
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #868686;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
}