
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}.login-GVc {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-GVc .skkuexs-x7Y {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.168rem;
  color: #527e0a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GVc .item--pvS {
  margin-bottom: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.088rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GVc .group-4-uwt {
  margin: 0rem 7.4rem 2.1rem 7.4rem;
  width: calc(100% - 14.8rem);
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.login-GVc .group-4-uwt .group-3-RQS {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9.2rem;
  box-sizing: border-box;
  width: 6.6rem;
  height: 6.6rem;
  background-color: #f5f5f5;
  border-radius: 3.3rem;
  flex-shrink: 0;
}
.login-GVc .group-4-uwt .group-3-RQS .image-6-x9U {
  width: 3.72rem;
  height: 3.72rem;
  object-fit: cover;
  vertical-align: top;
}
.login-GVc .group-4-uwt .image-7-3gi {
  margin-right: 8.6rem;
  width: 6.6rem;
  height: 6.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-GVc .group-4-uwt .btng-1-AmL {
  width: 6.6rem;
  height: 6.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-GVc .group-5-UX8 {
  margin-bottom: 2rem;
  width: 100%;
  height: 2.9rem;
  position: relative;
  flex-shrink: 0;
}
.login-GVc .group-5-UX8 .line-1-QQn {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 1.4rem;
  background-color: #c4c4c4;
}
.login-GVc .group-5-UX8 .group-2-jT4 {
  width: 5.5rem;
  height: 2.9rem;
  position: absolute;
  left: 27rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.088rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.login-GVc .component-3-C5k {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 1.65rem 2.1rem;
  width: 100%;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #c4c4c4;
  background-color: #ffffff;
  flex-shrink: 0;
}
.login-GVc .component-4-eiS {
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  padding: 1.65rem 2.1rem;
  width: 100%;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #c4c4c4;
  background-color: #ffffff;
  flex-shrink: 0;
}
.login-GVc .component-1-WEr {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.028rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #527e0a;
  flex-shrink: 0;
}
.login-GVc .group-50-bGJ {
  margin: 0rem 0.8rem 3.45rem 0.8rem;
  width: calc(100% - 1.6rem);
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-GVc .group-50-bGJ .group-51-iLv {
  margin-right: 23.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-GVc .group-50-bGJ .group-51-iLv .rectangle-3-G7Y {
  margin-right: 1rem;
  width: 1.9rem;
  height: 2.1rem;
  border: solid 0.2rem #c4c4c4;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.login-GVc .group-50-bGJ .group-51-iLv .item--nLn {
  display: flex;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.088rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GVc .group-50-bGJ .item--gBG {
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.088rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GVc .skkuexs--NJz {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #737272;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-GVc .skkuexs--NJz .skkuexs--NJz-sub-0 {
}
.login-GVc .skkuexs--NJz .skkuexs--NJz-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.096rem;
  color: #527e0a;
  font-family: Inter, 'Source Sans Pro';
}

.skkuexs--NJz{
  margin-bottom: 1rem;
}