{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-33">
    <form action="" method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <label class="search_title">비밀번호 변경</label>
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btnbtn btn-send">비밀번호 초기화</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $("#id_new_password1").addClass("form-email") 
        $("#id_new_password2").addClass("form-email")
        $(".mb-3").children('label').addClass("search_subtitle")
    })
</script>
{% endblock %}