{% extends "base.html" %}
{% block content %}
<div class="container my-33">
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
        <div class="pw_search_box">
            {{ field.errors }}
            <!-- {{ field.label_tag }} -->
            <label class="search_title">이메일</label>
            <span class ="search_subtitle">이메일을 입력해주세요.</span>


            {{ field }}
            <!--button 위치 원래 div 아래 있었음-->
            <button type="submit" class="btnbtn btn-send">비밀번호 찾기</button>
        </div>
        {% endfor %}
        
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    $(function() {
        $("#id_email").addClass("form-email") 
    })
</script>
{% endblock %}