{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <form action="" method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
            <div class="mb-3">
                <!-- {{ field.errors }} -->
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">비밀번호 초기화</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $("#id_new_password1").addClass("form-control") 
        $("#id_new_password2").addClass("form-control") 
    })
</script>
{% endblock %}