{% extends "base.html" %}
{% block content %}
<div class=whole>
	<span class="mainword">교환학생 생활을 더 편안하고 즐겁게,</span>
	<span class="skkuexs">SKKUEXS</span>
	<div class=boxes>
		<div class=e2_2459>
			<a class="logbox" href="{% url 'common:login' %}" style="text-decoration: none;">
				<span class="login">로그인</span>
			</a>
		</div>
		<div class=e1_27>
			<a class="regbox" href="{% url 'common:signup' %}" style="text-decoration: none;">
				<span class="register">회원가입</span>
			</a>
		</div>
	</div>
</div>
{% endblock %}