{% extends "forums/base_for_forums.html" %} {% block content %}

<div class="community_block">
  <div class="community_header">
    <div class="community_title">게시판</div>
    <div class="community_write_box">
      <button id="myBtn" class="write_btn">글쓰기</button>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <form id="popSection" method="post" action="">
            {% csrf_token %}
            <div class="text-section">
              <input type="text" id="pop_title" placeholder="제목" name="community_title"/>

              <textarea
                name="community_article"
                id="pop_textbox"
                placeholder="내용을 작성해주세요"
                maxlength="300"
                oninput="auto_grow(this)"
              ></textarea>

              <button class="pop_btn_reply">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/52/52349.png"
                  alt=""
                />
                모두 댓글 작성가능
              </button>

              
                <hr class="popform_divider" />

                <div class="pop_bottom">
                  <div class="pop_images">
                    <img class="uploadimg_icons" src="https://cdn-icons-png.flaticon.com/512/739/739249.png" alt=""/>
                <img class="uploadimg_icons" src="https://cdn-icons-png.flaticon.com/512/739/739249.png" alt=""/>
                  </div>

                  <div class="pop_bottom_btn">
                <span id="charCount">0/200</span>
                <button class="popButton" type="submit">등록</button>
                <button class="popButton close" type="submit">취소</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="community_search_box">
      <input type="text" class="community_search" placeholder="검색어 입력" />
      <div class="community_search_icon_box">
        <img
          class="community_search_icon"
          src="/static/images/search_icon.png"
        />
      </div>
    </div>
  </div>




  <div class="community_filter_box">정렬 | 최신순</div>
  {% for field in community %} {% if forloop.counter|add:2|divisibleby:3 %}
  <div class="community_content">
    {% endif %} {% if field.title == "!hidden" %}
    <div class="community_item_box" style="visibility: hidden">
      {% else %}
      <div class="community_item_box" id = "community_btn">
        {% endif %}
        <div class="community_item_title">{{field.title}}</div>
        <div class="community_item_content">{{field.content_15}}</div>
        <div class="community_item_below">
          <div class="community_item_date">{{field.date}}</div>
          <div class="community_item_below_fill"></div>
          <img src="/static/images/Facebook Like.png" />
          <div class="community_item_below_count">{{field.recommand}}</div>
          <img src="/static/images/Comments.png" />
          <div class="community_item_below_count">{{field.comment}}</div>
        </div>


        <div id="myModal2" class="modal2">
          <div class="modal-content">
              <div class="text-section">
                <div id="pop_title" name="community_title" style="padding-bottom:1rem;">{{field.title}}</div>
                <div
                  id="pop_textbox2"
                  oninput="auto_grow(this)"
                >{{field.content}}</div>
                
                
                <hr class="popform_divider" />
                <div class="comment_area">
                    <div class="comment_header">
                      <div class="comment_word">댓글</div>
                      <div class="comment_num">17(num)</div>
                    </div>
                    <div class="comment_write">
                      <textarea id="pop_textbox3" placeholder="댓글을 작성해주세요" maxlength="300"></textarea>
                      <button class="popButton comment_btn" type="submit">댓글적기</button>
                    </div>
                    <div class="comments_list">
                      <div class="comment_box">
                        <div class="comment_box_head">
                        <div class="comment_writer">작성자 아이디</div>
                        <div class="comment_date">작성일자 2023.06.07</div>
                        </div>
                        <div class="comment_content">작성내용 / 저는 7월 중순으로 했어요. 다른 나라들 구경도 하고 갈겸 미리 가서 학교도 둘러볼겸 겸사겸사요! 유럽은 여름에 여행하는게 날씨가 좋다고 해서..근데 가격 생각하면 여름이 성수기라 조금 나중에 8월 말~9월이 나을수도 있어요!</div>
                      </div>

                      <div class="comment_box">
                        <div class="comment_box_head">
                        <div class="comment_writer">작성자 아이디2</div>
                        <div class="comment_date">작성일자 2023.06.07</div>
                        </div>
                        <div class="comment_content">작성내용 / 저는 7월 중순으로 했어요. 다른 나라들 구경도 하고 갈겸 미리 가서 학교도 둘러볼겸 겸사겸사요! 유럽은 여름에 여행하는게 날씨가 좋다고 해서..</div>
                      </div>
                      
                    </div>
                    <div class="pop2_bottom">
                      <div class="pop2_bottom_btn">
                        
                      <span class="popButton close">닫기</span>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      
      </div>

      
      {% if forloop.counter|divisibleby:3 %}
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock %} 
  
  
{% block script %}
<script type="text/javascript">
  // 스크립트 내부에서 템플릿 변수를 사용하기 위한 방법
  $(function() {
    // base_for_forums의 색은 아래와 같은 방식으로 변경할 수 있음
    $("#whole").css("background-color","#f5f5f7")
    $("#whole").css("height","auto")

    var modal = document.getElementById("myModal");
    // var modal2 = document.getElementById("myModal2");
    var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("community_btn");
        
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // btn2.onclick = function() {
    //   modal2.style.display = "block";
    // }

    $(".community_item_box").click(function(event) {
      $(event.target).children(".modal2").css("display","block")
    })
    $(".community_item_title").click(function(event) {
      $(event.target).parent().children(".modal2").css("display","block")
    })
    $(".community_item_content").click(function(event) {
      $(event.target).parent().children(".modal2").css("display","block")
    })
    

    $(".popButton").click(function() {
      $(".popButton").parent().parent().parent().parent().css("display","none")
    })

    window.addEventListener("click",function(event) {
      if(event.target.className == "modal2") {
        $(".modal2").css("display","none")
      }
      if(event.target.className == "modal") {
        $(".modal").css("display","none")
      }
    })

    /* 글자수세기 */
    let textArea = document.getElementById("pop_textbox");
    let characterCounter = document.getElementById("charCount");
    const maxNumOfChars = 200;

    const countCharacters = () => {
        let numOfEnteredChars = textArea.value.length;
        counter = numOfEnteredChars;
        characterCounter.textContent = numOfEnteredChars + "/200";
    characterCounter.style.color = counter > 180 ? "red" : "black";
    }

    textArea.addEventListener("input", countCharacters);

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }

  })
</script>
{% endblock %}
