{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="container my-33">
            <form method="post" action=""><!-- method, action 아직 미정 -->
                {% csrf_token %}
                {% include "form_errors.html" %}
                <label class="search_title">학교 정보 입력(미완성)</label>
                <div class="mb-3">
                    <label for="email" class="search_subtitle">이메일</label>
                    <input type="text" class="form-email" name="email" id="email"
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="btnbtn btn-send">생성하기</button>
            </form>
        </div>
    </body>
</html>
