{% extends "forums/base_for_forums.html" %}
{% block content %}
<div class=area2>
  <div class=satisfaction><span class="a2title">만족도</span>
    {% for i in "x"|rjust:rank %}
      <div class="star"></div>
    {% endfor %}
  </div>

  <div class=introduction><span class="a2title">한줄소개</span>
    <span class="a2text" id="introduction">{{introduction}}
    </span>
  </div>

</div>

<div class=area3>
  <div class=area3a>
    <div class=boxtitle>
      <div class="goodimg"></div>
      <span class="titleword">이런 점이 좋았어요</span>
      <span class="sgraytext">(77명 참여)</span>

    </div>

    <ul class=boxlist>
      <li class=boxchild>
        <div class="longbar"></div>
        <div class="middlebar1"></div>
        <span class="review_text">“학교가 넓어요”</span><span class="number">30</span>
        <div class="school"></div>
      </li>

      <li class=boxchild>
        <div class="longbar"></div>
        <div class="middlebar2"></div><span class="review_text">“수업이 다양해요”</span><span class="number">21</span>
        <div class="img2"></div>
      </li>

      <li class=boxchild>
        <div class="longbar"></div>
        <div class="middlebar3"></div><span class="review_text">“날씨가 좋아요”</span><span class="number">15</span>
        <div class="img3"></div>
      </li>

      <li class=boxchild>
        <div class="longbar"></div>
        <div class="middlebar4"></div><span class="review_text">“여행 다니기 좋아요”</span><span class="number">7</span>
        <div class="img4"></div>
      </li>

    </ul>
  </div>

  <div class=area3b>
    <!-- <div class="wordcloud"><span>Word Cloud</span></div> -->
    <img class="wordcloud" src="{{wordCloudUrl}}" onerror="this.onerror=null; this.src='https://drive.google.com/uc?id=1ncciJYXi9xWmzab5KV6ileck_bhBVacT'">
  </div>
</div>
<div class=area4>
  {% for image_url in image_urls %}
  <div class="schoolimg" style="background-image:url({{ image_url }});"></div>
  {% comment %} <div class="schoolimg" style="background-image:url(/static/images/Harvard2.jpg);"></div>
  <div class="schoolimg" style="background-image:url(/static/images/Harvard3.jpg);"></div> {% endcomment %}
  {% endfor %}
</div>
<div class=area5>

  <div class=menubox>
    <a href="{% url 'forums:submain' school_name %}" style="text-decoration: none">
      <div class="menuword">
          준비과정
      </div>
    </a>
    <a href="{% url 'forums:visa' school_name %}" style="text-decoration: none">
      <div class="menu_text">비자</div>
    </a>
    <a href="{% url 'forums:dorm' school_name %}" style="text-decoration: none">
      <div class="menu_text">기숙사</div>
    </a>
    <a href="{% url 'forums:etc_pre' school_name %}" style="text-decoration: none">
      <div class="menu_text">기타 유의사항</div>
    </a>
  </div>

<div class="midlongline"></div>
  <div class=menubox>
    <a href="{% url 'forums:submain_uni_life' school_name %}" style="text-decoration: none">
      <div class="menuword">학교생활</div>
    </a>
    <a href="{% url 'forums:courses' school_name %}" style="text-decoration: none">
      <div class="menu_text">학업</div>
    </a>
    <a href="{% url 'forums:uni_review' school_name %}" style="text-decoration: none">
      <div class="menu_text">학교생활후기</div>
    </a>
    <a href="{% url 'forums:etc_uni' school_name %}" style="text-decoration: none">
      <div class="menu_text">기타 학교정보</div>
    </a>
  </div>
  <div class="midlongline"></div>
  <div class=menubox>
    <div class="menuword">커뮤니티</div>
    <a href="{% url 'forums:community' school_name %}" style="text-decoration: none">
      <div class="menu_text">게시판</div>
    </a>
  </div> 
</div>
{% endblock %}


{% block script %}
<script type="text/javascript"> // 스크립트 내부에서 템플릿 변수를 사용하기 위한 방법
  
  $(function() {
    // base_for_forums의 색은 아래와 같은 방식으로 변경할 수 있음
    // $("#whole").css("background-color","#fff")
    if('{{introduction}}'.length > 60) {
      $('#introduction').css('font-size','1.35rem')
    }
  })
</script>
{% endblock %}
