{% extends "forums/base_for_forums.html" %}
{% block content %}
<div class="community_block">
  <div class="preparation_header">
    <div class="preparation_filter_box"></div>
    <div class="preparation_title_box">
        <div class="preparation_title">비자</div>
    </div>
    <div class="preparation_filter_box">준비 과정</div>
  </div>
  <div class="preparation_content">
    <div class="preparation_item_box">
      <div class="preparation_item_left">
        <div class="preparation_flag_container">
            <img class="community_search_icon" src="https://flagcdn.com/w320/{{country_code}}.png" style="object-fit:contain; box-shadow:0 0px 8px rgba(0, 0, 0, 0.8);"/>
            <div class="visa_country_name">{{country}}</div>
        </div>
      </div>
      <div class="preparation_item_right">
        <div class="preparation_up">
            <div class="preparation_up_left">
                <div class="preparation_item_title">
                    비자 종류
                </div>
                <div class="preparation_item_subtitle">
                    {% if visa_type == 'nan' %}
                    {% else %}
                    {{visa_type}}
                    {% endif %}
                </div>
            </div>
            <div class="preparation_up_right">
                <div class="preparation_item_title">
                    발급 소요기간
                </div>
                <div class="preparation_item_subtitle">
                    {% if visa_period == 'nan' %}
                    {% else %}
                    {{visa_period}}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="preparation_item_title">
            비자 신청방법
        </div>
        <div class="preparation_down">
            <div class="preparation_list">
                {% if visa_application_process == 'nan' %}
                {% else %}
                {{visa_application_process}}
                {% endif %}
            </div>
        </div>
        <div class="preparation_footer">
          {{update_date.semester__max}} Updated
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript"> // 스크립트 내부에서 템플릿 변수를 사용하기 위한 방법
  
    $(function() {
      // base_for_forums의 색은 아래와 같은 방식으로 변경할 수 있음
      $("#whole").css("background-color","#f5f5f7")
      $("#whole").css("height","auto")    
    })
  </script>
{% endblock %}